flask==3.0.3

langchain==0.3.25
langchain-community==0.3.25
langchain-text-splitters==0.3.8

langchain-pinecone==0.2.0
langchain-huggingface==0.1.2
langchain-groq==0.3.2

pinecone==5.0.1
sentence-transformers==2.7.0
pypdf==4.3.1

python-dotenv==1.0.1
huggingface-hub==0.24.7
requests==2.32.3
gunicorn==21.2.0