flask
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-huggingface
langchain-groq
pinecone
sentence-transformers
pypdf
python-dotenv
huggingface-hub
requests